/*Reset*/
* {
  list-style: none;
  margin: 0px;
}

/*Overlay*/
.overlay {
  background: url(Background.jpeg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*Pattern Overlay*/
.pattern {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=");
  max-width: 100%;
}

/*Navigation Bar*/
.nav {
  position: fixed;
  top: 20px;
  right: 20px;
}

.nav li {
  list-style: none;
  float: left;
  padding: 2px;
  padding-left: 16px;
}

.nav li a {
  color: #FFF;
  text-decoration: none;
  font: 16px Lobster;
  text-shadow: #000 0px 2px 2px;
}

.nav li a:hover {
  color: #ccc;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

/*Font Awesome Fix*/
.fa {
  margin-right: 5px;
}

/*Content Container*/
.content {
  width: 400px;
  margin: 0 auto;
  margin-top: 14%;
  position: relative;
}

.content h1 {
  font: 70px Lobster;
  color: #FFF;
  text-align: center;
  text-shadow: #000 0px 2px 2px;
  margin-bottom: 40px;
}

.content a {
  color: #FFF;
  text-decoration: none;
  font: 16px Lobster;
  text-shadow: #000 0px 2px 2px;
}

.content a:hover {
  color: #ccc;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

.content input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  box-shadow: #000 0px 1px 5px;
  margin-bottom: 10px;
  outline: none;
  font: 14px Raleway;
  color: #bdbdbd;
}

#ingredients-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ingredient-item {
  opacity: 0.90;
  background-color: #5cb6ee;
  border-color: #1897e6;
  border-width: 2px;
  border-style: solid;
  border-radius: 14px;
  text-decoration: none;
  font: 14px Raleway;
  color: #ffffff;
  padding: 6px;
  margin: 5px;
}