/*Reset*/
* {
  list-style: none;
  margin: 0px;
}

/*Footer*/
.footer #button{
	width:35px;
	height:35px;
	border: #1a6c92 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #ffffff 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #ffffff;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}
/*Loading gif*/
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url('https://cdn.dribbble.com/users/2140642/screenshots/4301537/rodrigosloader.gif');
  background-repeat: no-repeat;
  background-position: center;
}

/*Overlay*/
.overlay {
  background: url(Background.jpeg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*Pattern Overlay*/
.pattern {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=");
  max-width: 100%;
}

/*Navigation Bar*/
.nav {
  position: fixed;
  top: 20px;
  right: 20px;
}

.nav li {
  list-style: none;
  float: left;
  padding: 2px;
  padding-left: 16px;
}

.nav li a {
  color: #FFF;
  text-decoration: none;
  font: 16px Lobster;
  text-shadow: #000 0px 2px 2px;
}

.nav li a:hover {
  color: #ccc;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

/*Font Awesome Fix*/
.fa {
  margin-right: 5px;
}

/* Flex-box that defines layout of ingredients and recipes containers */
#layout-flexbox {
  width: 100%;
  min-width: 375px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

/*Ingredients Container*/
.ingredients {
  min-width: 350px;
  width: 450px;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
}

.ingredients h1 {
  font: 70px Lobster;
  color: #FFF;
  text-align: center;
  text-shadow: #000 0px 2px 2px;
  margin-bottom: 40px;
}

.ingredients input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: #000 0px 1px 5px;
  margin-bottom: 10px;
  outline: none;
  font: 14px Raleway;
  color: #a4a4a4;
}

#ingredient-input-container {
  overflow: hidden;
  padding-right: 1.5em;
}

#ingredient-add-button {
  float: right;
  background-color: #1a6c92;
  border-color: #124c67;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  text-decoration: none;
  font: 14px Raleway;
  color: #ffffff;
  padding: 10px;
  margin-right: 8px;
  margin-bottom: 8px;
}

#ingredient-add-button:hover {
  cursor: pointer;
  background-color: #1e7ca8;
  border-color: #165c7d;
}

#suggestions-list-flexbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.suggestions-list-item {
  background-color: #ffe053;
  border-color: #ecc100;
  color: #444444;
}

.suggestions-list-item:hover {
  cursor: pointer;
  background-color: #ffeea0;
  border-color: #ffd206;
}

#ingredients-list-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.ingredients-list-item {
  background-color: #4a8d5d;
  border-color: #386c47;
  color: #ffffff;
}

.ingredients-list-item:hover {
  cursor: pointer;
  background-color: #5fab75;
  border-color: #417c52;
}

/*Recipes Container*/
.recipes {
  margin-top: 20px;
}

.recipes h1 {
  font: 30px Lobster;
  color: #FFF;
  text-align: center;
  text-shadow: #000 0px 2px 2px;
  margin-bottom: 20px;
}

#recipes-list-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 60vh;
  overflow: auto;
}

.recipes-list-item {
  min-width: 350px;
  max-width: 550px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 3px;
}

.recipes-list-item a {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  line-height: 0.95;
}

.recipes-list-item img {
  height: 200px;
}

.recipes-list-item p {
  padding: 0px;
  margin: 0px;
  font: 14px Raleway;
  color: #333333;
  text-decoration: none;
}

.recipes-list-item:hover {
  cursor: pointer;
  background-color: #daecf3;
  border-color: #333;
}

.suggestions-list-item, .ingredients-list-item {
  opacity: 0.90;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  text-decoration: none;
  font: 13px Raleway;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

#ingredient-add-button, .suggestions-list-item, .ingredients-list-item, .recipes-list-item {
  box-shadow: #000 0px 1px 5px;

  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}
